n8n-workflows/classify.json
{
  "name": "classify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "classify",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "classify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1\",\n  \"prompt\": \"أنت مساعد لتصنيف المراسلات المؤسسية. صنّف الرسالة التالية وأعد النتيجة بهذا الشكل بالضبط بدون أي إضافات:\\n\\nالأولوية: [عاجلة / مرتفعة / عادية / منخفضة]\\nالقسم المعني: [خدمة العملاء / الجودة / المبيعات / الموارد البشرية / الإدارة / تقنية المعلومات / المالية]\\nالموضوع: [جملة واحدة قصيرة]\\nالإجراء المقترح: [خطوة واحدة محددة وقابلة للتنفيذ]\\n\\nنص الرسالة:\\n{{ $json.body.input }}\",\n  \"stream\": false,\n  \"options\": { \"temperature\": 0.2 }\n}",
        "options": { "timeout": 120000 }
      },
      "id": "ollama-call",
      "name": "Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { output: $input.first().json.response } }];"
      },
      "id": "format-response",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Ollama", "type": "main", "index": 0 }]]
    },
    "Ollama": {
      "main": [[{ "node": "Format", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
