n8n-workflows/extract.json
{
  "name": "extract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "extract"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1\",\n  \"prompt\": \"أنت محلل بيانات. استخرج المعلومات المهمة من النص التالي وأعدها كـ JSON صالح بدون أي شرح أو نص قبله أو بعده. استخدم مفاتيح عربية وصفية مثل: رقم_الوثيقة، التاريخ، الأطراف، المبلغ، المدة، الشروط، الملاحظات. اترك المفتاح فارغاً إذا لم يكن موجوداً في النص.\\n\\nالنص:\\n{{ $json.body.input }}\\n\\nأعد فقط JSON صالح:\",\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": { \"temperature\": 0.1 }\n}",
        "options": { "timeout": 120000 }
      },
      "id": "ollama-call",
      "name": "Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response;\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) { parsed = { raw }; }\nreturn [{ json: { output: JSON.stringify(parsed, null, 2) } }];"
      },
      "id": "format-response",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Ollama", "type": "main", "index": 0 }]]
    },
    "Ollama": {
      "main": [[{ "node": "Format", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
